@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {
    --primary-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
    --very-pale-blue: hsl(225, 100%, 98%);
    --desat-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
    --text-align: center;
    --element-border-radius: 10px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
    line-height: 1.75;
}

body {
    background: var(--primary-blue) url('../images/pattern-background-desktop.svg') repeat-x;  
}

.container {
    margin: auto;
    display: grid;
    grid-template-areas: "container";
    justify-items: center;
    align-items: center;
    width: 450px;
    padding-block-start: 75px;
}

.card {
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    grid-area: container;
    display: grid;
    gap: 1.8rem 0px;
    grid-template-columns: 50px 350px 50px;
    grid-template-rows: 220px max-content max-content 5.7rem 3rem max-content;
    grid-template-areas: 
                        "header header header"
                        " .     title     .  "
                        " .     summary   .  "
                        " .     plan      .  "
                        " .     button    .  "
                        " .     cancel    .  ";
}

header {
    grid-area: header;
    border-radius: 5px;
}

header img {
    width: 450px;
    height: 220px;
}

#title {
    grid-area: title;
    text-align: var(--text-align);
    padding-block-start: 1rem;
}

h1 {
    font-weight: 900;
    font-size: 1.75rem;
    
}

#summary {
    grid-area: summary;
    text-align: var(--text-align);
    color: var(--desat-blue);
}

#plan {
    grid-area: plan;
    padding-inline-end: .4rem;
    border-radius: var(--element-border-radius);
    background-color: var(--very-pale-blue);
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: " icon annual change"
                         " icon cost   change";
}

#icon {
    grid-area: icon;
    justify-self: center;
    align-self: center;
}

#annual {
    grid-area: annual;
    align-self: end;
    font-weight: 900;
    line-height: 1.5;
}

#cost {
    grid-area: cost;
    align-self: start;
    color: var(--desat-blue);
    line-height: 1.5;
}

#change {
    grid-area: change;
    justify-self: center;
    align-self: center;    
}

#change a {
    font-weight: 700;
    font-size: .85rem;
}

#change a:hover {
    opacity: .7; 
    text-decoration: none;
}

#button {
    grid-area: button;
    text-align: var(--text-align);
    border-radius: var(--element-border-radius);
    border-width: 0;
    background-color: var(--bright-blue);
    color: white;
    font-weight: 700;
    box-shadow: 0px 20px 15px -5px var(--primary-blue);
}

#button:hover {
    opacity: .7;
}

#cancel {
    grid-area: cancel;
    text-align: var(--text-align);
    padding-block-end: 3rem;
}

#cancel a {
    color: var(--desat-blue);
    font-weight: 700;
    text-decoration: none;
    font-size: .85rem;
}

#cancel a:hover {
    color: black;
}

footer div {
    text-align: center;
    padding-block: 3rem;
}

@media screen and (max-width: 500px) {
    
    body {
        background: var(--primary-blue) url('../images/pattern-background-mobile.svg') repeat-x;  
    }

    .container {
        width: 315px;
        padding-block-start: 50px;
    }
    
    .card {
        gap: 1rem 0px;
        grid-template-columns: 20px 275px 20px;
        grid-template-rows: 154px max-content max-content 5.7rem 3rem max-content;
  
    }

    header img {
        width: 315px;
        height: 154px;
    }

    #title {
        padding-block-start: .5rem;
    }
    
    h1 {
        font-size: 1.25rem;
        
    }

    #cancel {
        padding-block-end: 1.5rem;
    }
}